body {
    width: 100%;

    margin: 0;
    padding: 0;
    border: 0;

    background-color: aliceblue;
    font-size: 0;
    font-family: PingFang SC,HarmonyOS_Regular,Helvetica Neue,Microsoft YaHei,sans-serif !important;
}

/* 容器 */
.container {
    width: fit-content;
    height: fit-content;
    
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    padding: 20px;
    
    display: flex;

    border: 2px solid #0F0F0F;
    border-radius: 16px;

    background-color: #FEFEFE;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container[id="clockContainer"] {
    top: 50px;
}

.container[id="alarmContainer"] {
    top: 650px;
}

.container[id="stopwatchContainer"] {
    top: 50px;
}

.container[id="countContainer"] {
    width: 400px;
    height: 200px;

    top: 650px;
}

.container[id="timerContainer"] {
    top: 50px;
}

.container[id="selectorContainer"] {
    width: 400px;
    height: 140px;

    top: 650px;
}

button {
    border-width: 1px;
    border-radius: 8px;

    vertical-align: top;

    background-color: rgb(240, 250, 240);
}

button:hover {
    background-color: rgb(230, 250, 230);
}

button:active {
    background-color: rgb(220, 250, 220);
}

button:disabled {
    background-color: rgb(240, 240, 240);
}

.container button {
    width: 60px;
    height: 30px;

    margin: 5px;

    font-size: 14px;
}

.clock {
    width: 400px;
    height: 400px;
}

.time {
    width: 100%;
    height: fit-content;

    text-align: center;
    font-size: 48px;
    font-family: monospace;
}

.selectTime {
    width: 100%;
    height: fit-content;

    margin-top: 20px;

    text-align: center;
}

.selectTime .selTime {
    width: 128px;
    height: 28px;

    margin-right: 10px;
    margin-bottom: 10px;

    font-size: 18px;
    font-family: monospace;
}

.selectTime .timeButton {
    width: 80px;
    height: 30px;

    margin: 0;
    margin-left: 10px;

    font-size: 14px;
}

.alarmContainer {
    width: 100%;
    height: fit-content;
}

.alarmContainer .alarmTime {
    width: 150px;
    height: 32px;

    margin-right: 30px;
    font-size: 22px;
    font-family: monospace;
}

.alarmContainer .alarmButton {
    width: 80px;
    height: 32px;

    margin-top: 0;

    font-size: 14px;
}

.alarmList {
    width: 100%;
    height: 120px;

    overflow-y: auto;
    scrollbar-width: thin;

    margin-top: 10px;
    margin-bottom: 10px;
    padding-inline-start: 10px;
}

.alarmList li { 
    display: block;

    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;

    font-size: 24px;
    font-family: monospace;
}

.alarmList li button {
    width: 60px;
    height: 26px;

    margin: 0;

    font-size: 14px;
}


.functionButtons {
    width: fit-content;
    height: fit-content;
    
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    padding: 20px;

    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.functionButtons[id="caPage"] {
    top: 880px;
}

.functionButtons[id="swPage"] {
    top: 900px;
}

.functionButtons[id="tiPage"] {
    top: 840px;
}

.functionButtons button {
    width: 100px;
    height: 40px;

    margin: 10px;

    font-size: 18px;
}